@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap'); 

:root {
    --azul-form: #0C70F2;
    --cinza-form: #303030;
    --blue-hover: #006eff;

    --font-padrao: 'Inter';

}

body {
    margin: 0%;
    padding: 0px;
    background: linear-gradient(180deg, #0C70F2 20%, #303030 25%), #303030; 
    background-repeat:no-repeat;
}
#container {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background-color: var(--cinza-form);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1 px solid #bababa;
    
}
#menu {
    display: flex;
    width: 45%;
    justify-content: space-around; 
    align-items: center;
    margin-right: 5%;
}
#container div a {
    font-family: var(--font-padrao);
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}
#container div a:hover{
    color: #006eff;
}
#container button {
    text-align: center;
    margin-right: 50px;
    padding: 0;
    width: 80px;
    height: 39px;
    background-color: #0C70F2;
    border: 0px;
    font-family: "inter";
    font-size: 20px;
    color: white;
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
    cursor: pointer;

}
#black {
    background-color: black;
    font-weight: bold;
    padding: 5px;

}
section{
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-padrao);
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    
}
header  {
    color:white;
    font-family: var(--font-padrao);
    justify-content:space-around;
    justify-content: space-between;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 15px;
    font-family: var(--font-padrao);
}
header h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 100px;
    font-family: var(--font-padrao);
}
form {
    margin-top: 70px;
    font-family: var(--font-padrao);
    font-size: 30px;
    font-weight: 600;
    width: 900px;
}
.styleForm  {
    display: flex;
    flex-direction: column;
    font-family: var(--font-padrao);
    margin-top: 10px;
    margin-bottom: 10px;
}
form div input{
    border-radius: 10px;
    border:0;
    height: 35px;
    font-size: 20px;
    padding:15px ;
    background-color: rgba(255, 255, 255, 0.9);
    
}
input[type="submit"]{
    font-size: var(--font-padrao);
    color: white;
    text-align: center;
    background-color: var(--azul-form);
    border-radius: 10px;
    border: 0;
    font-size: 20px;
    margin-top: 25px;
    width: 95%;
    height: 40px;
    font-size: 30px;
    font-weight: 400;
    width: 100%;
    background-color: var(--blue-hover);
}
#person {
    margin-right: 25px;
}
form label {
    margin: 10px 0px 10px 0px;
    
}
form input::placeholder {
    color: rgba(57, 57, 57, 0.5);
}
.custon label {
    font-size: 25px;

}
.custon{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
input[type="checkbox"] {
    transform: scale(1.7);
}
input[type="submit"]{
    font-family: var(--font-padrao);
    background-color: var(--blue-hover);
    width: 100%;
    height: 56px;
    color: white;
    text-align: center;
    border-radius: 10px;
    border: 0;
    font-size: 33px;
    font-weight: 600;
    margin-top: 80px;
    box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
    cursor: pointer;
}
footer {
    background-color: var(--azul-form);
    width: 100%; 
    text-decoration: none;
}
footer nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 330px;
    color: white;
    text-decoration: none;

}
footer .Line1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    align-items: center;
    padding: 0px;
    color: white;
    text-decoration: none;
}

footer h3  {
    font-weight: 800;
    color: white;
    font-family: var(--font-padrao);
    text-align: center;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 15px;
    text-decoration: none;

}
footer ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    

}
footer  ul li {
   
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    font-family: var(--font-padrao);
    margin: 20px 0px 20px 0px;

}
footer  ul li a {
    color: white;
    text-decoration: none;

}
#contrast{
    background-color: #303030;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}
footer div a:hover {
    color:#303030
}

footer .Line2 { 
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding:0px;
    font-family: var(--font-padrao);
}
footer div a { 
    font-weight: 600;
    font-size: 18px ;
    font-family: var(--font-padrao);
    padding:0px 5px 0px;
    color: white; 
    text-decoration: none;
}
footer .Line2 a:first-child{
    border-right: 2px solid white;
}
footer .Line2 a:hover{
    color: var(--cinza-form);
}
@media only screen and (max-width: 600px){
    #container{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    #menu{
        flex-direction: column;
        width: 100%;
        margin: 0px;
        
    }
    #menu a {
        display: flex;
        align-items: center;
        height: 50px;
        
    }
    #container button {
        height: 100%;
        padding: 0;
        margin: 0px;
    }

    section h1{
        font-size: 38px;
    }

    section h2 {
        font-size: 28px;
        padding-right: 15px;
        padding-left: 15px;
    }

    form {
        width: 95%;
        font-size: 20px;
    }
    .custon label {
        font-size: 12px;
    }
} 

 
